.nav-wrapper {
  background-color: #0F3753;
  height: 70px;
  width: 100%; }

.logo img {
  width: 50px;
  position: relative;
  top: 10px;
  left: 10px; }

.menu {
  position: relative;
  top: 19px;
  z-index: 1;
  text-align: center;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .menu {
      background-color: transparent;
      position: absolute;
      top: 15px;
      right: 30px;
      width: 600px;
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: space-between;
      align-items: center; } }
  @media (min-width: 992px) {
    .menu {
      width: 920px;
      width: 725px; } }

.menu a {
  display: none;
  padding: 10px;
  list-style-type: none;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  text-decoration: none;
  color: #0F3753; }
  .menu a:hover {
    color: white;
    background-color: #0F3753; }
  @media (min-width: 768px) {
    .menu a {
      display: block;
      font-size: 18px;
      color: white; }
      .menu a:hover {
        color: #639E29; } }

.menu a.open {
  display: block; }

#hamburger-menu {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #215B7A;
  padding: 23px 30px; }
  @media (min-width: 768px) {
    #hamburger-menu {
      display: none; } }

.head-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 768px) {
    .head-wrap {
      background-color: #F6F8F9;
      display: flex;
      flex-direction: column;
      flex-wrap: no-wrap;
      justify-content: left;
      align-items: left; } }

.breadcrumb {
  background-color: white;
  font-size: 18px;
  padding: 0;
  margin-left: 15px;
  margin-top: 15px;
  text-decoration: none;
  list-style-type: none; }
  @media (min-width: 768px) {
    .breadcrumb {
      background-color: #F6F8F9; } }

.breadcrumb-item a {
  text-decoration: none; }

.job h1 {
  margin-top: 8px;
  margin-right: 15px;
  font-size: 30px;
  color: #0F3753; }
  @media (min-width: 768px) {
    .job h1 {
      font-size: 48px;
      margin-left: 15px;
      margin-top: 55px;
      margin-bottom: 20px; } }

footer {
  overflow: hidden; }

.footer-wrap {
  background: #0F3753;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: left; }

.footer-wrap ul {
  margin-top: 20px;
  margin-left: 35px;
  font-size: 14px; }
  @media (min-width: 768px) {
    .footer-wrap ul {
      font-size: 18px; } }

.footer-wrap ul li {
  list-style-type: none;
  margin-top: 5px; }

.footer-wrap ul li a {
  text-decoration: none;
  color: white;
  font-weight: 100; }
  .footer-wrap ul li a:hover {
    color: #639E29; }

.contact {
  font-size: 14px;
  margin-top: 20px;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: left;
  align-items: left; }
  @media (min-width: 768px) {
    .contact {
      font-size: 18px; } }

.contact a {
  text-decoration: none;
  color: white;
  font-weight: 100; }
  .contact a:hover {
    color: #639E29; }

#email {
  margin-top: 5px; }

.job-search {
  background-color: #E5EBEE;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .job-search {
      padding-top: 30px;
      height: 70px;
      padding-top: 3px;
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: space-between;
      align-items: center; } }

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

.search input {
  height: 45px;
  width: 205px; }
  @media (min-width: 768px) {
    .search input {
      width: 300px;
      height: 55px;
      margin-left: 12px; } }

.search input[value="Search FAQ's"] {
  padding-left: 20px;
  color: #304858;
  font-size: 18px; }

@media (max-width: 768px) {
  .applications {
    margin-top: 20px; } }

.search button {
  background-color: #639E29;
  padding: 10px 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  color: white;
  text-decoration: none; }
  @media (min-width: 768px) {
    .search button {
      padding: 15px 30px; } }

.btn-secondary {
  color: #0F3753;
  background-color: white;
  border-radius: 0;
  width: 246px;
  margin-bottom: 15px; }
  .btn-secondary:hover {
    background-color: white;
    color: #0F3753; }
  @media (min-width: 768px) {
    .btn-secondary {
      margin-top: 12px; } }

.btn-secondary.active, .btn-secondary:active, .show > .btn-secondary.dropdown-toggle {
  background-color: white; }

.dropdown-menu {
  width: 245px; }

.dropdown-item {
  color: #0F3753; }
  .dropdown-item:hover {
    color: white;
    background-color: #0F3753; }

.job-colaps {
  background: #F6F8F9;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center; }

.job-text {
  margin-left: 20px;
  overflow: hidden; }

.job-colaps a {
  list-style-type: none;
  text-decoration: none; }

.job-colaps a h1 {
  color: #0F3753;
  font-size: 24px;
  margin-top: 25px; }

.job-colaps a p {
  text-decoration: none;
  color: #0F3753;
  font-size: 14px;
  margin-bottom: 0; }

#status-text {
  margin-bottom: 25px !important; }
  @media (min-width: 768px) {
    #status-text {
      margin-left: 20px; } }

@media (min-width: 768px) {
  .job-status {
    display: inline-block; } }

#arrow-right {
  margin-right: 30px; }

hr {
  margin: 0;
  padding: 0;
  border: .9px solid #DDDDDD; }

.page-wrapper {
  position: relative;
  background: #F6F8F9; }

.page-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .page-nav {
      margin-left: 50%; } }
  @media (min-width: 992px) {
    .page-nav {
      margin-left: 60%;
      height: 450px; } }

.page-nav ul {
  position: relative;
  padding-top: 30px;
  padding-bottom: 15px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: left;
  align-items: center; }
  .page-nav ul:hover {
    list-style-type: none;
    color: white; }
  @media (min-width: 992px) {
    .page-nav ul {
      position: relative;
      bottom: 160px; } }

.page-nav ul li a {
  background: white;
  padding: 12px 20px;
  border: 1px solid #ECEEEF;
  color: #0275D8; }
  .page-nav ul li a:hover {
    background-color: #0278AE;
    list-style-type: none;
    text-decoration: none;
    color: white; }

#dbl-arrow-left:hover {
  background-color: white !important; }

#dbl-arrow-right:hover {
  background-color: white !important; }

.questions {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #E5EBEE;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

@media (min-width: 992px) {
  .questions-text {
    text-align: left;
    margin-left: 10%; } }

.questions-text h2 {
  color: #0F3753; }
  @media (min-width: 768px) {
    .questions-text h2 {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: no-wrap;
      justify-content: center;
      align-items: center; } }

@media (min-width: 992px) {
  .questions-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center; } }

.questions-wrap p {
  margin-top: 20px;
  color: #0F3753; }

.img-block {
  display: none; }
  @media (min-width: 768px) {
    .img-block {
      display: block; } }

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .filter {
      margin-right: 25px; } }

.filter a {
  list-style-type: none;
  text-decoration: none;
  color: #0F3753; }

.filter p {
  position: relative;
  top: 10px;
  margin-left: 10px; }

.filter-fill {
  height: auto;
  background-color: #F6F8F9; }

.filter-wrap {
  padding-top: 20px;
  padding-bottom: 5px; }

.filter-fill ul {
  font-size: 14px;
  list-style-type: none;
  color: #0F3753;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 992px) {
    .filter-fill ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
      align-items: center; } }

@media (min-width: 992px) {
  .filter-fill li {
    margin-left: 20px; } }

.vertical-line {
  z-index: 1000; }
  @media (min-width: 992px) {
    .vertical-line {
      display: block;
      height: 150px;
      width: 1px;
      margin-left: 60px; } }

.categories {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 324px;
  background-color: #F6F8F9;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  width: 100%; }
  @media (min-width: 992px) {
    .categories {
      bottom: 178px;
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: left;
      align-items: left;
      width: 100%; } }

.categories.open {
  visibility: visible; }

.categories p {
  font-size: 20px; }
  @media (min-width: 768px) {
    .categories p {
      font-size: 24px; } }

.wrap-1 {
  padding-top: 20px; }
  @media (min-width: 992px) {
    .wrap-1 {
      position: relative;
      padding-top: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: center;
      align-items: center; } }

.wrap-2 {
  margin-left: 5%; }
  @media (min-width: 768px) {
    .wrap-2 {
      margin-left: 15%; } }
  @media (min-width: 992px) {
    .wrap-2 {
      margin-left: 5%;
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: flex-start;
      align-items: flex-start; } }

.row-1 {
  position: relative; }

@media (min-width: 992px) {
  .row-2 {
    position: relative;
    top: 22px;
    margin-left: 60px; } }

@media (min-width: 992px) {
  .row-3 {
    position: relative;
    top: 22px;
    margin-left: 60px; } }

@media (min-width: 992px) {
  .row-4 {
    position: relative; } }

.row-5 {
  position: relative;
  top: 20px; }
  @media (min-width: 992px) {
    .row-5 {
      top: 0;
      margin-left: 60px; } }

* {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=listview.css.map */
