.nav-wrapper {
  background-color: #0F3753;
  height: 70px;
  width: 100%; }

.logo img {
  width: 50px;
  position: relative;
  top: 10px;
  left: 10px; }

.menu {
  position: relative;
  top: 19px;
  z-index: 1;
  text-align: center;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .menu {
      background-color: transparent;
      position: absolute;
      top: 15px;
      right: 30px;
      width: 600px;
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: space-between;
      align-items: center; } }
  @media (min-width: 992px) {
    .menu {
      width: 920px;
      width: 725px; } }

.menu a {
  display: none;
  padding: 10px;
  list-style-type: none;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  text-decoration: none;
  color: #0F3753; }
  .menu a:hover {
    color: white;
    background-color: #0F3753; }
  @media (min-width: 768px) {
    .menu a {
      display: block;
      font-size: 18px;
      color: white; }
      .menu a:hover {
        color: #639E29; } }

.menu a.open {
  display: block; }

#hamburger-menu {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #215B7A;
  padding: 23px 30px; }
  @media (min-width: 768px) {
    #hamburger-menu {
      display: none; } }

.head-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 768px) {
    .head-wrap {
      background-color: #F6F8F9;
      display: flex;
      flex-direction: column;
      flex-wrap: no-wrap;
      justify-content: left;
      align-items: left; } }

.breadcrumb {
  background-color: white;
  font-size: 18px;
  padding: 0;
  margin-left: 15px;
  margin-top: 15px;
  text-decoration: none;
  list-style-type: none; }
  @media (min-width: 768px) {
    .breadcrumb {
      background-color: #F6F8F9; } }

.breadcrumb-item a {
  text-decoration: none; }

.job h1 {
  margin-top: 8px;
  margin-right: 15px;
  font-size: 30px;
  color: #0F3753; }
  @media (min-width: 768px) {
    .job h1 {
      font-size: 48px;
      margin-left: 15px;
      margin-top: 55px;
      margin-bottom: 20px; } }

footer {
  overflow: hidden; }

.footer-wrap {
  background: #0F3753;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: left; }

.footer-wrap ul {
  margin-top: 20px;
  margin-left: 35px;
  font-size: 14px; }
  @media (min-width: 768px) {
    .footer-wrap ul {
      font-size: 18px; } }

.footer-wrap ul li {
  list-style-type: none;
  margin-top: 5px; }

.footer-wrap ul li a {
  text-decoration: none;
  color: white;
  font-weight: 100; }
  .footer-wrap ul li a:hover {
    color: #639E29; }

.contact {
  font-size: 14px;
  margin-top: 20px;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: left;
  align-items: left; }
  @media (min-width: 768px) {
    .contact {
      font-size: 18px; } }

.contact a {
  text-decoration: none;
  color: white;
  font-weight: 100; }
  .contact a:hover {
    color: #639E29; }

#email {
  margin-top: 5px; }

.application {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 992px) {
    .application {
      display: flex;
      flex-direction: column;
      flex-wrap: no-wrap;
      justify-content: left;
      align-items: left;
      margin-top: 80px;
      margin-left: 25px;
      text-align: left; } }

.application h1 {
  font-size: 32px; }
  @media (min-width: 992px) {
    .application h1 {
      font-size: 48px; } }

.application h3 {
  font-size: 18px;
  margin-top: 15px; }
  @media (min-width: 992px) {
    .application h3 {
      font-size: 36px; } }

.about-text {
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 992px) {
    .about-text {
      text-align: left;
      display: flex;
      flex-direction: column;
      flex-wrap: no-wrap;
      justify-content: left;
      align-items: left;
      margin-top: 60px;
      margin-left: 25px; } }

.about-text h2 {
  font-size: 24px;
  color: #4A4A4A; }
  @media (min-width: 992px) {
    .about-text h2 {
      font-size: 48px; } }

.about-text p {
  color: #4A4A4A;
  margin-top: 10px;
  max-width: 548px; }

.aboutcrumb {
  background-color: white;
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 50px;
  text-decoration: none;
  list-style-type: none;
  background-color: #F6F8F9;
  margin-bottom: 0; }

.aboutcrumb a {
  text-decoration: none; }

.banner-wrap {
  margin-top: 0;
  padding-top: 0; }

.banner-wrap img {
  width: 100%; }

.opp-wrap {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #E5EBEE;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }

@media (min-width: 992px) {
  .opp-text {
    text-align: left;
    margin-left: 5%;
    max-width: 475px; } }

.opp-text h2 {
  color: #0F3753; }
  @media (min-width: 768px) {
    .opp-text h2 {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: no-wrap;
      justify-content: center;
      align-items: center; } }

@media (min-width: 992px) {
  .opp {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center; } }

.opp-text p {
  margin-top: 20px;
  color: #0F3753; }

.img-block {
  display: none; }
  @media (min-width: 768px) {
    .img-block {
      display: block; } }

#interview {
  margin-bottom: 50px; }

.resources-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 992px) {
    .resources-wrap {
      position: absolute;
      left: 65%;
      top: 575px; } }

.resources {
  margin-top: 30px;
  width: 315px;
  height: 233px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 992px) {
    .resources {
      display: flex;
      flex-direction: column;
      flex-wrap: no-wrap;
      justify-content: center;
      align-items: left;
      padding-left: 40px;
      margin-top: 200px; } }

.resources p {
  font-size: 24px; }

#join {
  margin-bottom: 50px; }
  @media (min-width: 992px) {
    #join {
      margin-bottom: 300px; } }

body {
  background-color: #F6F8F9; }

/*# sourceMappingURL=process.css.map */
