//About Us

.why {
  margin-top: 50px;
  text-align: center;
  @include flexy ($wrap: no-wrap, $just: center, $align: center, $dir: column);
  @media(min-width: $break-lg){
  @include flexy ($wrap: no-wrap, $just: left, $align: left, $dir: column);
  margin-top: 80px;
  margin-left: 25px;
  text-align: left;
  }
}

.why h1 {
  font-size: 32px;
  @media(min-width: $break-lg){
  font-size: 48px;
  }
}

.why h3 {
  font-size: 18px;
  margin-top: 15px;
  @media(min-width: $break-lg){
  font-size: 32px;
  }
}

//About Text

.about-text {
  margin-top: 30px;
  text-align: center;
  @include flexy ($wrap: no-wrap, $just: center, $align: center, $dir: column);
  @media(min-width: $break-lg){
    text-align: left;
    @include flexy ($wrap: no-wrap, $just: left, $align: left, $dir: column);
    margin-top: 80px;
    margin-left: 25px;
  }
}

.about-text h2 {
  font-size: 24px;
  @media(min-width: $break-lg){
  font-size: 48px;
  }
}

.about-text p {
  margin-top: 10px;
  max-width: 548px;
}
