//Crumbs

.aboutcrumb {
  background-color: white;
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 50px;
  text-decoration: none;
  list-style-type: none;
  background-color: #F6F8F9;
  margin-bottom: 0;
}

.aboutcrumb a {
  text-decoration: none;
}

.banner-wrap {
  margin-top: 0;
  padding-top: 0;
}

.banner-wrap img {
  width: 100%;
}
